.main-content {
  display: flex;
}

.sidebar {
  width: 20%;
  text-align: center;
  line-height: 35px;
}

.pokemons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.pokemons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}

.pokemon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  transition: 200ms;
  gap: 10px;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  transition: 300ms;
}

.pokemon-image {
  height: 120px;
  width: 120px;
}

.pokemon-card-bottom {
  width: 85%;
}

.pokemon-id {
  font-size: small;
}

.loader-section {
  display: flex;
  align-items: center;
  height: 200px;
}

.load-btn {
  border: none;
  border-radius: 30px;
  padding: 20px;
  transition: 200ms;
}

.load-btn:hover {
  background-color: darkgray;
  transition: 300ms;
}